@font-face
  font-family: 'Century Gothic'
  src: url('CenturyGothic/CenturyGothic.woff2') format('woff2'),
  url('CenturyGothic/CenturyGothic.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Noto Serif'
  src: url('NotoSerif/NotoSerif.woff2') format('woff2'),
  url('NotoSerif/NotoSerif.woff') format('woff')
  font-weight: normal
  font-style: normal
