<template lang="pug">
  div
    MainHeader

    MainContent

    MainFooter(
      @submitFooter="submitForm"
      :client="client"
    )

    VueModal(
      :client="client"
      @submitModal="submitForm"
    )
</template>

<script>
import format from 'date-fns/format';

import MainHeader from '@/components/MainHeader.vue';
import MainContent from '@/components/MainContent.vue';
import MainFooter from '@/components/MainFooter.vue';
import VueModal from '@/components/VueModal.vue';

export default {
  name: 'HomePage',
  data() {
    return {
      client: {
        name: '',
        tel: '',
      },
    };
  },
  components: {
    MainHeader, MainContent, MainFooter, VueModal,
  },
  methods: {
    submitForm(data) {
      const isValidName = this.client.name.length >= 2 && /^\d*/.test(this.client.name);
      const isValidTel = /\+38\(\d{3}\).\d{3}-\d{2}-\d{2}$/.test(this.client.tel);
      if (isValidName && isValidTel) {
        if (localStorage.getItem('tel') === this.client.tel) {
          this.$toast.error('Вы уже отправляли заявку с данным номером');
        } else {
          this.client = { date: format(new Date(), 'd-MM-yyyy в H:m'), ...data };
          // console.log('!!!!', this.client);
          localStorage.setItem('tel', this.client.tel);
          this.$toast.success('Заявка успешно отправлена');
          this.client.name = '';
          this.client.tel = '';
        }
      } else {
        if (!isValidTel) this.$toast.error('Укажите правильный номер телефона.');
        if (!isValidName) this.$toast.error('Укажите правильное имя');
      }
    },
  },
};
</script>

<style scoped>

</style>
