<template lang="pug">
  nav.header-nav(
    :class="{'header-nav--open': isOpenNavBar && isMob}"
  )
    button.header-nav__burger(
      v-if="isMob"
      :class="{'header-nav__burger--active': isOpenNavBar}"
      @click.prevent="eventBurger"
    )
      span

    ul.header-nav__list
      li.header-nav__item(v-for="(item, index) in menu" :key="index")
        a.header-nav__link(
          :href="'#' + item.toLowerCase()"
          @click="eventBurger"
        ) {{item}}
</template>
<script>
import throttle from 'lodash/throttle';
import menuList from '../assets/menu';

export default {
  name: 'HeaderNav',
  data() {
    return {
      menu: menuList,
      isOpenNavBar: false,
      isMob: document.documentElement.clientWidth < 768,
    };
  },
  mounted() {
    window.addEventListener('resize', throttle(() => {
      this.isMob = document.documentElement.clientWidth < 768;
    }, 100));
  },
  methods: {
    eventBurger() {
      if (!this.isMob) return;
      if (this.isOpenNavBar) {
        document.body.style.overflow = 'visible';
      } else {
        document.body.style.overflow = 'hidden';
      }
      this.isOpenNavBar = !this.isOpenNavBar;
    },
  },
  watch: {
    isMob(value) {
      this.isOpenNavBar = !value;
    },
  },
};
</script>

<style lang="sass" scoped>
  .header-nav

  .header-nav--open
    .header-nav__list
      z-index: 10
      transform: translate3d(-105%, 0, 0)

  .header-nav__burger
    position: fixed
    top: 20px
    right: 20px
    display: flex
    align-items: center
    width: 20px
    height: 20px
    background: none
    border: none
    cursor: pointer
    z-index: 100

    &::before
      content: ' '
      position: absolute
      top: 50%
      left: 50%
      width: 40px
      height: 40px
      background: url('../assets/img/bg--el1.svg') no-repeat center / 100%
      transform: translate(-50%, -50%)
      opacity: .9

    span,
    span::before,
    span::after
      position: absolute
      display: block
      width: 100%
      height: 2px
      background-color: #ffffff
      transition-duration: .25s

    span::before
      content: ''
      top: -7px

    span::after
      content: ''
      top: 7px

    &--active
      span
        transform: rotate(45deg)

      span::before
        top: 0
        transform: rotate(0)

      span::after
        top: 0
        transform: rotate(90deg)

  .header-nav__list
    position: fixed
    top: 0
    right: -105%
    z-index: 1
    width: 100%
    height: 100vh
    padding-top: 80px
    background: #ffffff
    overflow: hidden
    transition: .5s ease-in-out

    +min-w($tablet)
      position: relative
      top: auto
      right: auto
      display: flex
      justify-content: flex-end
      width: auto
      height: auto
      padding: 0
      background: none
      transform: none
      transition: none

    &::before
      content: ' '
      position: absolute
      top: 20%
      left: -160px
      width: 200px
      height: 200px
      background: url('../assets/img/bg--el2.svg') no-repeat center / cover

      +min-w($tablet)
        display: none

    &::after
      content: ' '
      position: absolute
      bottom: 13%
      right: -140px
      width: 200px
      height: 200px
      background: url('../assets/img/bg--el4.svg') no-repeat center / cover

      +min-w($tablet)
        display: none

  .header-nav__item
    width: 70%
    margin: 0 auto
    padding: 13px 0
    text-align: center
    border-top: 1px solid #b8a0a1

    +min-w($tablet)
      width: auto
      margin: 0
      padding: 0
      border: none

    &:first-of-type
      border: none

  .header-nav__link
    font: bold 18px/26px $font_CenturyGothic
    text-decoration: none
    text-transform: uppercase
    color: #d19fa3

    +min-w($tablet)
      display: block
      padding: 0 15px
      font-weight: $font_bold
      font-size: 11px
      line-height: 40px
      letter-spacing: 1px
      white-space: nowrap
      color: #ffffff
      border-radius: 20px
      transition: .3s

      &:hover
        background-color: #f8a39d

    +min-w($desktop)
      padding: 0 30px
      font-size: 14px
      letter-spacing: 2px
</style>
