<template lang="pug">
  header.main-header(id="home")
    .main-header__top
      HeaderNav

      h1.main-header__title.
        To lead <br>the growth of <span class="main-header__title-tagline">Innovation, Investment
        and Technology in</span> <span class="main-header__title-city">DUBAI</span>

    .main-header__video
      video(
        :src="require('../assets/video/sparkles.mp4')"
        muted="true"
        autoplay="true"
        loop="true"
      )

    .main-header__bottom
      .main-header__bottom-wrap
        .main-header__logo
          img(:src="require('../assets/img/logo.png')")

        p.
          But I must explain to you how all this mistaken idea of denouncing pleasure and praising
          pain was born and I will give you a complete account of the system, and expound the actual
          teachings of the great explorer of the truth, the master-builder of human happiness.
          No one rejects, dislikes
</template>

<script>
import HeaderNav from './HeaderNav.vue';

export default {
  name: 'MainHeader',
  components: {
    HeaderNav,
  },
};
</script>

<style lang="sass" scoped>
  .main-header
    position: relative
    padding-bottom: 40px

  .main-header__top
    padding: 10px 10%

    +min-w($tablet)
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 50%
      padding: 26px 5%

    +min-w($desktop)
      padding: 26px 10%

  .main-header__video
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%

    +min-w($tablet)
      position: relative
      max-height: 668px

    video
      width: 100%
      height: 100%
      object-fit: cover

      +min-w($tablet)
        max-height: 667px

    &::after
      content: ' '
      position: absolute
      top: 0
      left: 50%
      width: 100.3%
      height: 100.3%
      background: linear-gradient(to bottom, #ED6874, #EDAA86)
      opacity: .7
      transform: translateX(-50%)

      +min-w($tablet)
        background: url('../assets/img/bg.svg') no-repeat center bottom / cover
        opacity: 1

  .main-header__title
    display: flex
    flex-direction: column
    margin-top: 25px
    font: $font_ultra_light 27px / 35px $font_CenturyGothic
    color: $color_white

    +min-w($tablet)
      position: absolute
      left: calc(50% - 17%)
      top: calc(50% + 15%)
      font-size: 50px
      line-height: 55px
      transform: translate(-50%, -50%)

    +min-w($desktop)
      left: calc(50% - 12%)
      top: calc(50% + 22%)
      font-size: 93px
      line-height: 1

  .main-header__title-tagline
    display: block
    font-weight: $font_light
    white-space: nowrap
    font-size: 13px

    +min-w($tablet)
      font-size: 17px
      line-height: 35px

    +min-w($desktop)
      font-weight: $font_ultra_light
      font-size: 31px
      line-height: 91px

  .main-header__title-city
    display: block
    margin-left: 90px
    font-weight: $font_bold
    font-size: 35px
    letter-spacing: 11px

    +min-w($tablet)
      font-size: 25px
      letter-spacing: 30px

    +min-w($desktop)
      margin-left: 266px
      font-size: 27px
      line-height: 40px
      letter-spacing: 34px

  .main-header__bottom
    margin-top: 18%
    padding: 0 3.75%

    +min-w($tablet)
      display: flex
      margin-top: 20px
      padding: 0 5%

    +min-w($desktop)
      margin-top: -28px
      padding: 0 9%

    p
      font-weight: $font_medium
      font-size: 13px
      line-height: 19px
      text-align: center
      color: $color_white

      +min-w($tablet)
        color: $color_grey

  .main-header__bottom-wrap
    position: relative

    +min-w($tablet)
      max-width: 542px
      width: 63.656%
      margin-left: auto

  .main-header__logo
    display: none
    margin-top: 10px

    +min-w($tablet)
      display: block
      position: absolute
      top: -125px
      left: 50%
      transform: translateX(-50%)

    img
      width: 135px
      height: auto
      margin-left: auto

      +min-w($tablet)
        width: 200px
</style>
