<template lang="pug">
  main.main-content
    .main-content__decoration.main-content__decoration--first

    section.main-content__events(id="events")
      section-events

    section.main-content__statistics(id="statistics")
      section-statistics

    //section.main-content__quote
      section-quote

    section.main-content__members(id="members")
      section-members

    section.main-content__featured(id="featured")
      section-featured

    section.main-content__gallery(id="gallery")
      section-gallery
</template>

<script>
import SectionEvents from './SectionEvents.vue';
import SectionNews from './SectionNews.vue';
import SectionStatistics from './SectionStatistics.vue';
import SectionQuote from './SectionQuote.vue';
import SectionMembers from './SectionMembers.vue';
import SectionFeatured from './SectionFeatured.vue';
import SectionGallery from './SectionGallery.vue';

export default {
  name: 'MainContent',
  components: {
    SectionGallery,
    SectionQuote,
    SectionEvents,
    SectionNews,
    SectionStatistics,
    SectionMembers,
    SectionFeatured,
  },
};
</script>

<style lang="sass" scoped>
  .main-content
    padding: 0 12px

    +min-w($tablet)
      padding: 0 30px

    +min-w($desktop)
      padding: 0 40px

  .main-content__decoration
    +min-w($desktop)
      position: relative

      &::after
        content: ' '
        position: absolute
        top: 50%
        z-index: -1
        background: center / cover no-repeat
        transform: translateY(-50%)

      &--first::after
        left: 94%
        width: 769px
        height: 769px
        background-image: url('../assets/img/bg--el1.svg')

  .main-content__events
    position: relative
    margin-top: 70px
    padding-top: 10px

    &::before
      +min-w($desktop)
        content: ' '
        position: absolute
        top: 50%
        right: 90%
        width: 769px
        height: 769px
        background: url('../assets/img/bg--el2.svg') no-repeat center / cover
        transform: translateY(-50%)

  .main-content__statistics
    position: relative
    margin-top: 90px
    padding-top: 10px

    +min-w($desktop)
      margin-top: 140px

    &::after
      +min-w($desktop)
        content: ' '
        position: absolute
        top: 50%
        left: 80%
        width: 530px
        height: 1129px
        background: url('../assets/img/bg--el3.png') no-repeat center / cover
        transform: translateY(-50%)

      +min-w($desktop_l)
        left: 75%

  .main-content__members
    margin-top: 90px
    padding-top: 10px

    +min-w($desktop)
      margin-top: 140px

  .main-content__featured
    margin-top: 90px
    padding-top: 10px

    +min-w($desktop)
      margin-top: 140px

  .main-content__gallery
    margin: 90px -12px 0
    padding-top: 10px

    +min-w($tablet)
      margin: 90px -30px 0

    +min-w($desktop)
      margin: 140px -40px 0
</style>
