<template lang="pug">
  footer.main-footer
    .main-footer__logo
      img(:src="require('../assets/img/logo-footer.svg')")
    .main-footer__desc.
      Be everywhere, do everything, and never fail to astonish the customer.

    form.main-footer__form(
      @submit.prevent="submitFooter"
    )
      fieldset.main-footer__form-fieldset
        input.main-footer__form-input(
          name="name"
          type="text"
          placeholder="Enter your name"
          v-model="client.name"
        )
        input.main-footer__form-input(
          name="tel"
          type="tel"
          v-mask="'+38(###) ###-##-##'"
          placeholder="+38(___) ___-__-__"
          v-model="client.tel"
          @focus="focusInputTel"
          @input="watchInputTel"
        )
      button.main-footer__form-submit(type="submit" name="submit") Submit

    .main-footer__copyright © 2020 Company Name.
</template>

<script>
export default {
  name: 'MainFooter',
  props: ['client'],
  data() {
    return {
      tel: this.client.tel,
    };
  },
  methods: {
    submitFooter() {
      this.$emit('submitFooter', {
        name: this.client.name,
        tel: this.client.tel,
        company: 'full',
      });
    },
    focusInputTel() {
      if (this.client.tel.length) return;
      this.client.tel = '+38(';
    },
    watchInputTel() {
      if (this.client.tel < 5) this.client.tel = '+38(';
    },
  },
};
</script>

<style lang="sass" scoped>
  .main-footer
    margin-top: 100px
    padding: 50px 12px 0
    background: #7a7c8e url("../assets/img/footer-bg.jpg") no-repeat center / cover

    +min-w($mobile_l)
      padding: 50px 40px 0

    +min-w($tablet)

      padding: 50px 40px 0

  .main-footer__logo
    max-width: 234px
    margin: 0 auto

  .main-footer__desc
    max-width: 296px
    margin-left: auto
    font: italic 300 14px/30px $font_NotoSerif
    text-align: right
    color: #ffffff

  .main-footer__form
    display: flex
    flex-wrap: wrap
    max-width: 350px
    margin: 20px 0 0 auto

  .main-footer__form-fieldset
    position: relative
    width: 100%
    padding: 5px 0
    border: 1px solid $color_light_grey
    border-radius: 25px

    &::after
      content: ' '
      position: absolute
      top: 50%
      left: 50%
      width: 1px
      height: 25px
      background: $color_light_grey
      transform: translate(-50%, -50%)

  .main-footer__form-input
    display: inline-block
    width: 50%
    padding: 0 15px
    font-size: 14px
    line-height: 15px
    color: $color_light_grey
    background: none
    border: none

    &::placeholder
      color: $color_light_grey

  .main-footer__form-submit
    display: block
    width: 100%
    margin-top: 10px
    font-size: 14px
    line-height: 35px
    text-align: center
    background: $color_light_grey
    border: none
    border-radius: 25px
    cursor: pointer

  .main-footer__copyright
    margin: 40px -12px 0
    padding: 0 12px
    font-weight: $font_medium
    font-size: 10px
    line-height: 35px
    color: #ffffff
    background: $color_dark

    +min-w($mobile_l)
      margin: 45px -40px 0
      padding: 0 40px
</style>
