<template lang="pug">
  .section-featured
    h2.section-featured__title FEATURED MEMBERS

    .section-featured__logos
      img(:src="require('../assets/img/company-1.svg')")
      img(:src="require('../assets/img/company-2.svg')")
</template>

<script>
export default {
  name: 'SectionFeatured',
};
</script>

<style lang="sass" scoped>
  .section-featured__logos
    img
      flex: 0 0 auto
</style>
