<template lang="pug">
  .section-members
    h2.section-members__title MEMBER's OF THE MONTH

    .section-members__text
      .section-members__text-logo
        img(:src="require('../assets/img/logo-ge.svg')")

      .section-members__text-content
        h3.section-members__text-title General Electric
        p.section-members__text-desc.
          General Electric Company (GE) is an American multinational conglomerate incorporated in
          New York and headquartered in Boston. As of 2018, the company operates through the
          following segments: aviation, healthcare, power, renewable energy, digital industry,
          additive manufacturing, venture capital and finance, lighting, transportation,
          and oil and gas.
        p.section-members__text-desc.
          In 2018, GE ranked among the Fortune 500 as the 18th-largest firm in the U.S. by gross
          revenue. GE ranked among the Fortune 20 as the 14th-most profitable company.
          [5] As of 2012, the company was listed as the fourth-largest in the world among the
          Forbes Global 2000, further metrics being taken into account.[6] Two employees of
          GE have been awarded the Nobel Prize: Irving Langmuir in 1932 and Ivar Giaever in 1973.[7]
</template>

<script>
export default {
  name: 'SectionMembers',
};
</script>

<style lang="sass" scoped>
  .section-members
    max-width: 1024px
    margin: 0 auto
    color: $color_dark_grey

  .section-members__text
    display: flex
    flex-direction: column

    +min-w($desktop)
      flex-direction: row

  .section-members__text-logo
    max-width: 225px
    margin: 0 auto

    +min-w($desktop)
      flex: 0 0 100%

  .section-members__text-content
    margin-top: 25px

    +min-w($desktop)
      margin-top: 0
      margin-left: 35px

  .section-members__text-title
    font-weight: $font_medium
    font-size: 32px
    line-height: 45px

  .section-members__text-desc
    margin-top: 25px
    font-size: 16px
    line-height: 26px

    +min-w($desktop)
      margin-top: 15px
</style>
