<template lang="pug">
  .section-statistics
    h2.section-statistics__title STATISTICS

    dl.section-statistics__list
      dt.section-statistics__list-title 17%
      dd.section-statistics__list-desc.
        $17.4 billion In VC fintech funding in 2016

      dt.section-statistics__list-title 27K+
      dd.section-statistics__list-desc.
        27 Fintech companies valued at $1B or more

      dt.section-statistics__list-title 33.33
      dd.section-statistics__list-desc.
        1/3 of people say they would use a non-
        bank company for financial services

      dt.section-statistics__list-title 30
      dd.section-statistics__list-desc.
        Fintech and automation could displace up
        to 30% of banking jobs
</template>

<script>
export default {
  name: 'SectionStatistics',
};
</script>

<style lang="sass" scoped>
  .section-statistics
    max-width: 600px
    margin: 0 auto
    padding: 20px 20px 40px
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1)

    +min-w($desktop)
      margin-left: 5%
      padding: 40px 50px 60px

    +min-w($desktop_l)
      max-width: 1024px
      width: 60%

  .section-statistics__list
    display: flex
    flex-direction: column

    +min-w($desktop)
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      align-items: center

  .section-statistics__list-title
    font-weight: 800
    font-size: 50px
    line-height: 60px
    color: #fa7268

    +min-w($desktop)
      width: 30%
      text-align: right

    &:not(:first-of-type)
      margin-top: 30px

  .section-statistics__list-desc
    font-weight: 500
    font-size: 14px
    line-height: 20px
    color: $color_dark_grey

    +min-w($desktop)
      width: 64%
      font-size: 16px
      line-height: 24px

    &:not(:first-of-type)
      +min-w($desktop)
        margin-top: 30px
</style>
