<template lang="pug">
  .section-events
    h2.section-events__title UPCOMING <span>EVENTS</span>

    .section-events__list(ref="slider")
      .section-events__item(
        @click="showModal(1)"
      )
        h3.section-events__item-title.
          International Conference on Interdisciplinary Social Sciences
        p.section-events__date 02 Oct, 9 AM - 4PM
        p.section-events__desc Armani Hotel, Burj Khalifa, Dubai.
        button.section-events__details
          | Show details
          img(:src="require('../assets/img/arrow-right.svg')")
        .section-events__item-bg
          img(:src="require('../assets/img/el1.jpg')")

      .section-events__item(
        @click="showModal(2)"
      )
        h3.section-events__item-title.
          International Conference on Business Management and Social Innovation
        p.section-events__date 08, SEP, 12 PM - 3PM
        p.section-events__desc Le Méridien Dubai Hotel & Conference Centre, Dubai.
        button.section-events__details
          | Show details
          img(:src="require('../assets/img/arrow-right.svg')")
        .section-events__item-bg
          img(:src="require('../assets/img/el2.jpg')")

      .section-events__item(
        @click="showModal(3)"
      )
        h3.section-events__item-title.
          Sed ut perspiciatis unde omnis iste
        p.section-events__date 08, SEP, 12 PM - 3PM
        p.section-events__desc Madinat Jumeirah, Dubai.
        button.section-events__details
          | Show details
          img(:src="require('../assets/img/arrow-right.svg')")
        .section-events__item-bg
          img(:src="require('../assets/img/el3.jpg')")
</template>

<script>
export default {
  name: 'SectionEvents',
  methods: {
    showModal(id) {
      this.$modal.show('CompanyModal', { modalId: id });
    },
  },
};
</script>

<style lang="sass" scoped>
  .section-events
    max-width: 1024px

    +min-w($desktop)
      margin-left: 10%

    +min-w($desktop_l)
      margin-left: 15%

  .section-events__list
    display: flex
    flex-direction: column

  .section-events__item
    position: relative
    display: flex
    flex-direction: column
    justify-content: flex-end
    max-width: 600px
    width: 100%
    height: 300px
    padding: 0 20px 25px
    border-radius: 10px
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1)
    overflow: hidden
    cursor: pointer

    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(to top, rgba(255, 255, 255, .9) 30%, rgba(255, 255, 255, 0))

    &:hover
      &::after
        background: none

      .section-events__item-bg img
        transform: scale(1.15)

    & + &
      margin-top: 30px

      +min-w($tablet)
        margin-top: 50px

      +min-w($desktop)
        margin-top: 100px

    &:nth-child(even)
      margin-left: auto

  .section-events__item-title
    position: relative
    z-index: 1
    font-weight: $font_bold
    font-size: 20px
    line-height: 24px
    color: $color_dark_grey

  .section-events__date
    position: relative
    z-index: 1
    margin-top: 20px
    font-weight: $font_medium
    font-size: 12px
    line-height: 16px
    color: $color_coral

  .section-events__desc
    position: relative
    z-index: 1
    margin-top: 4px
    font-weight: $font_medium
    font-size: 11px
    line-height: 14px
    color: $color_black

  .section-events__details
    position: relative
    z-index: 1
    display: flex
    align-items: center
    align-self: flex-start
    margin-top: 15px
    font-weight: $font_medium
    font-size: 14px
    line-height: 17px
    color: $color_coral
    background: none
    border: none

    img
      width: 28px
      height: 14px
      margin-left: 10px

  .section-events__item-bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

    img
      position: absolute
      top: 0
      left: 0
      z-index: -2
      width: 100%
      height: 100%
      transition: transform .8s ease
</style>
