<template lang="pug">
  .section-quote
    h2.section-quote__title.hidden Quote

    blockquote.section-quote__block
      .section-quote__block-left
        p.section-quote__text.
          Their work on our website and Internet marketing has made a significant different to
          our business. We’ve seen a 425% increase in quote requests from the website which has
          been pretty remarkable – but I’d always like to see more!

      .section-quote__block-right
        .section-quote__block-profile
          img(:src="require('../assets/img/el3.jpg')")
        cite.section-quote__block-cite David R. Colling
</template>

<script>
export default {
  name: 'SectionQuote',
};
</script>

<style lang="sass" scoped>

</style>
