<template lang="pug">
  .section-news
    h2.section-news__title.main-content__title WHAT'S <span>NEW</span>

    .section-news__main
      .section-news__date.section-news__date--main 13 August 2018
      h3.section-news__title.section-news__title--main
        | MENA Family Owned Business: The Future of Business (FOB)

    ol.section-news__list
      li.section-news__item
        a.section-news__link(href="#")
          .section-news__date 13 August 2018
          h3.section-news__title
            | Record year for Dubai business events with 62% boost in delegate wins in 2018

      li.section-news__item
        a.section-news__link(href="#")
          .section-news__date 14 August 2018
          h3.section-news__title
            | Riviera Nayarit celebrates record-breaking 2018

      li.section-news__item
        a.section-news__link(href="#")
          .section-news__date 23August 2018
          h3.section-news__title
            | Brussels is preparing for the European Association Summit

    button.section-news__show-more(type="button")
      | More News
      img(:src="require('../assets/img/arrow-right.svg')")
</template>

<script>
export default {
  name: 'SectionNews',
};
</script>

<style lang="sass" scoped>

</style>
