<template lang="pug">
  .section-gallery
    .section-gallery__list(
      v-swiper:gallery="swiperOptions"
    )
      .swiper-wrapper.section-gallery__list-wrap
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-1.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-2.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-3.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-4.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-5.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-6.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-7.jpg')")
        .swiper-slide.section-gallery__slide
          img(:src="require('../assets/img/slide-8.jpg')")
</template>

<script>
import { directive } from 'vue-awesome-swiper';


export default {
  name: 'SectionGallery',
  directives: {
    swiper: directive,
  },
  data() {
    return {
      swiperOptions: {
        watchOverflow: true,
        spaceBetween: 10,
        slidesPerView: 1.13,
        resistanceRatio: 0,
        breakpoints: {
          768: {
            slidesPerView: 2.2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 3.2,
          },
          1440: {
            slidesPerView: 4.2,
          },
        },
      },
    };
  },
};
</script>

<style lang="sass" scoped>
  .section-gallery__slide

    img
      min-width: 100%
      height: 100%
      object-fit: cover
</style>
