<template lang="pug">
  modal.main-modal(
    name="CompanyModal"
    classes="main-modal__wrap"
    :scrollable="true"
    :auto-update="true"
    :auto-destroy="true"
    @before-open="beforeOpenModal"
    @closed="eventCloseModal"
    overlayTransition="rgba(0, 0, 0, 0.5)"
    :shiftY="0"
    width="100%"
    height="auto"
  )
    button.main-modal__close(type="button" @click="closeModal") Закрыть
    h2.main-modal__title(v-text="company.title")
    p.main-modal__shot-desc(v-text="company.shotDesc")

    form.main-modal__form(
      ref="modalForm"
      method="post"
      @submit.prevent="submitModal"
    )
      h3.main-modal__form-title Хочешь здесь работать?
      fieldset.main-modal__form-fieldset
        input.main-modal__form-input(
          name="name"
          type="text"
          placeholder="Enter your name"
          v-model="client.name"
        )
        input.main-modal__form-input(
          name="tel"
          type="tel"
          placeholder="+38(___) ___-__-__"
          v-mask="'+38(###) ###-##-##'"
          v-model="client.tel"
          @focus="focusInputTel"
          @input="watchInputTel"
        )
      button.main-modal__form-submit(type="submit" name="submit") Submit

    swiper.main-modal__slider(
      ref="modalSlider"
      :options="swiperOptions"
    )
      swiperSlide.main-modal__slide-img.swiper-slide(
        v-for="(photo, idx) in company.photos"
        :key="idx"
      )
        img.main-modal__slide-img(:src="require(`@/assets/img/company/${photo}`)")

      .main-modal__slider-pagination.swiper-pagination(slot="pagination")

    p.main-modal__full-desc(v-text="company.fullDesc")
</template>

<script>
import { Swiper as SwiperClass, Pagination } from 'swiper/swiper.esm';
import getAwesomeSwiper from 'vue-awesome-swiper/dist/exporter';
import companyList from '@/store/company';

const { Swiper, SwiperSlide } = getAwesomeSwiper(SwiperClass);

SwiperClass.use([Pagination]);

export default {
  name: 'VueModal',
  props: ['client'],
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      company: companyList[0],
      swiperOptions: {
        watchOverflow: true,
        spaceBetween: 10,
        slidesPerView: 1.13,
        resistanceRatio: 0,
        pagination: {
          el: '.swiper-pagination',
          dynamicBullets: true,
        },
        breakpoints: {
          500: {
            slidesPerView: 2.2,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 3,
          },
          1440: {
            slidesPerView: 4,
          },
        },
      },
    };
  },
  methods: {
    beforeOpenModal(props) {
      document.body.style.overflow = 'hidden';
      this.company = companyList[props.params.modalId - 1];
    },
    closeModal() {
      this.$modal.hide('CompanyModal');
    },
    eventCloseModal() {
      document.body.style.overflow = 'visible';
    },
    submitModal() {
      this.$emit('submitModal', {
        name: this.client.name,
        tel: this.client.tel,
        company: this.company.title,
      });
    },
    focusInputTel() {
      if (this.client.tel.length) return;
      this.client.tel = '+38(';
    },
    watchInputTel() {
      if (this.client.tel < 5) this.client.tel = '+38(';
    },
  },
  computed: {
    swiper() {
      return this.$refs.modalSlider.$swiper;
    },
  },
};
</script>

<style lang="sass">
.main-modal
  padding: 0

  +min-w($desktop)
    padding: 40px 0

  .vm--overlay
    background: rgba(0, 0, 0, .7)

.main-modal__wrap
  position: relative
  max-width: $desktop
  width: 100% !important
  margin: 0 auto
  padding: 60px 12px 50px

  +min-w($mobile_l)
    padding: 60px 30px 50px
    border-radius: 10px

  &::before
    content: ' '
    position: absolute
    top: 20%
    left: -160px
    z-index: 0
    width: 200px
    height: 200px
    background: url('../assets/img/bg--el2.svg') no-repeat center / cover

    +min-w($tablet)
      display: none

  &::after
    content: ' '
    position: absolute
    bottom: 13%
    right: -140px
    z-index: 0
    width: 200px
    height: 200px
    background: url('../assets/img/bg--el4.svg') no-repeat center / cover

    +min-w($tablet)
      display: none

.main-modal__close
  position: absolute
  z-index: 5
  top: 10px
  right: 10px
  width: 40px
  height: 40px
  font-size: 0
  background: url('../assets/img/bg--el1.svg') no-repeat center / 100%
  border: none
  opacity: .9

  +min-w($desktop)
    top: 20px
    right: 20px

  &::before,
  &::after
    content: ' '
    position: absolute
    top: 50%
    left: 50%
    width: 20px
    height: 2px
    background: #ffffff
    transform: translate(-50%, -50%)

  &::before
    transform: translate(-50%, -50%) rotate(45deg)

  &::after
    transform: translate(-50%, -50%) rotate(-45deg)

.main-modal__title,
.main-modal__shot-desc,
.main-modal__full-desc
  position: relative
  z-index: 1

.main-modal__title
  font-size: 26px

.main-modal__shot-desc,
.main-modal__full-desc
  margin: 20px 0
  font-weight: 500
  font-size: 14px
  line-height: 20px
  color: #525252

.main-modal__form
  z-index: 1
  display: flex
  flex-wrap: wrap
  max-width: 500px
  margin: 20px 0 0 auto

.main-modal__form-title
  margin: 10px 0
  font-size: 16px
  color: $color_coral

.main-modal__form-fieldset
  position: relative
  z-index: 1
  width: 100%
  padding: 5px 0
  border: none

  +min-w($mobile_l)
    border: 1px solid $color_light_grey
    border-radius: 25px

  &::after
    +min-w($mobile_l)
      content: ' '
      position: absolute
      top: 50%
      left: 50%
      width: 1px
      height: 25px
      background: $color_light_grey
      transform: translate(-50%, -50%)

.main-modal__form-input
  z-index: 1
  display: block
  width: 100%
  padding: 7px 15px
  font-size: 14px
  line-height: 15px
  color: $color_dark_grey
  border: 1px solid $color_light_grey
  border-radius: 25px
  background: none

  +min-w($mobile_l)
    display: inline-block
    width: 50%
    padding: 0 15px
    border: none

  &::placeholder
    color: $color_light_grey

  & + &
    margin-top: 5px

    +min-w($mobile_l)
      margin: 0

.main-modal__form-submit
  z-index: 1
  display: block
  width: 100%
  margin-top: 10px
  font-size: 14px
  line-height: 35px
  text-align: center
  color: $color_white
  background: $color_coral
  border: none
  border-radius: 25px

.main-modal__slider
  margin: 40px -12px
  height: 200px

  +min-w($mobile_l)
    margin: 40px -30px

  +min-w($tablet)
    height: 250px

  +min-w($desktop)
    margin: 40px 0 50px
    overflow: visible

  .swiper-wrapper
    display: flex

.main-modal__slide
  height: auto

.main-modal__slide-img
  width: 100%
  height: 100%

.main-modal__slider-pagination
  display: none

  +min-w($desktop)
    bottom: -25px !important
    display: flex

  .swiper-pagination-bullet-active
    background: $color_coral
</style>
