@import './mixin'
@import 'variables'

html,
body
  width: 100%
  height: 100%
  font: 400 16px / 26px $font_CenturyGothic

  *
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none

ul,
ol
  list-style: none

img
  max-width: 100%
  object-fit: cover

button
  cursor: pointer

#app
  max-width: 1920px
  margin: 0 auto
  overflow-x: hidden

h2
  margin: 20px 0 40px
  font-weight: $font_medium
  font-size: 14px
  line-height: 1
  letter-spacing: 4px
  color: $color_coral

  span
    color: $color_peach
