@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max)
  $k: ($f-max - $f-min)/($v-max - $v-min)
  $b: $f-min - $k * $v-min

  $b: $b

  @return calc( #{$k} * 100vw + #{$b} )

//fluidFontSize(16px, 24px, 480px, 1280px, 18px)
//При ширине экрана меньше 480px шрифт всегда будет 16px, после 480 он станет резиновым, а после 1280px всегда будет 24px.
@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false)
  font-size: $f-min

  @media (min-width: $w-min)
    @if ($fallback)
      font-size: $fallback

    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max)

  @media (min-width: $w-max)
    font-size: $f-max

@mixin fluidLineHeight($f-min, $f-max, $w-min, $w-max, $fallback: false)
  line-height: $f-min

  @media (min-width: $w-min)
    @if ($fallback)
      line-height: $fallback

    line-height: calcFluidFontSize($f-min, $f-max, $w-min, $w-max)

  @media (min-width: $w-max)
    line-height: $f-max

=min-w($width)
  @media screen and (min-width: $width)
    @content

=max-w($width)
  @media screen and (max-width: $width)
    @content


