<template lang="pug">
  #app
    component(
      :is="layout"
    )
      router-view
</template>

<script>
import MainLayout from '@/layouts/MainLayout.vue';
import EmptyLayout from '@/layouts/EmptyLayout.vue';

export default {
  name: 'app',
  components: {
    MainLayout, EmptyLayout,
  },
  computed: {
    layout() {
      console.log(this.$route.meta);
      return `${this.$route.meta.layout || 'main'}-layout`;
    },
  },
};
</script>
