<template lang="pug">
  .empty
    router-view
</template>

<script>
export default {
  name: 'EmptyLayout',
};
</script>

<style scoped lang="sass">
.empty
  display: flex
  width: 100vw
  height: 100vh
  background: #ff5555
</style>
